@font-face {

	font-family: 'Computer Modern Typewriter Light';

	src: font-url('TypewriterLight/cmunbtl.eot');

	src: font-url('TypewriterLight/cmunbtl.eot?#iefix') format('embedded-opentype'),

		 font-url('TypewriterLight/cmunbtl.woff') format('woff'),

		 font-url('TypewriterLight/cmunbtl.ttf') format('truetype'),

		 font-url('TypewriterLight/cmunbtl.svg#cmuntt') format('svg');

	font-weight: normal;

	font-style: normal;

}





@font-face {

	font-family: 'Computer Modern Typewriter Light';

	src: font-url('TypewriterLight/cmunbto.eot');

	src: font-url('TypewriterLight/cmunbto.eot?#iefix') format('embedded-opentype'),

		 font-url('TypewriterLight/cmunbto.woff') format('woff'),

		 font-url('TypewriterLight/cmunbto.ttf') format('truetype'),

		 font-url('TypewriterLight/cmunbto.svg#cmunbto') format('svg');

	font-weight: normal;

	font-style: italic;

}




